.Contenedorlista{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-color: black, grey;
}

.Contenedorlista ::selection {
    border-bottom: 5px;
    border-color: blue;
}

.Contenedorlista a{
    text-decoration: none;
    color: black;
}

.row{
    border: 5px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
}